/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Portio HTML
VERSION:	1.0.0
-------------------------------------------------------------------*/
@import "variables";

@import "../bootstrap-4.5.2/scss/bootstrap";

@import "typography";

@import "mixins";

@import "buttons";

@import "common";

@import "components/preloder";

@import "components/navbar";

@import "components/hero-section";

@import "components/about-section";

@import "components/blog-section";

@import "components/footer-section";

@import "components/blog";

@import "components/single-blog-post";

@import "components/page-title";

@import "components/contact";
